version: 2

registries:
  dockerhub:
    type: 'docker-registry'
    url: 'https://registry.hub.docker.com'
    username: '${{ secrets.DOCKERHUB_USERNAME }}'
    password: '${{ secrets.DOCKERHUB_TOKEN }}'
    replaces-base: true

updates:
  - package-ecosystem: 'docker'
    directory: '/'
    ignore:
      - dependency-name: 'node'
        update-types:
          - 'version-update:semver-major'
    registries:
      - 'dockerhub'
    schedule:
      interval: 'weekly'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
